<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/question.css">

    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
   
</head>
<body>
    <%- include ('../views/layout/header.ejs') %>

    <main>
        <form action="/question?id=<%=queData[0].que_id%>">
            <div class="div"> 
                <h1>Question:</h1>
                <p id="title" >Title: <%=queData[0].title%></p>
                <p id="description">Description: <%=queData[0].que_description%></p>
                <pre id="code">Code: <%=queData[0].que_code%></pre>
            </div>
            
            <% if (queData[0].answer !== null){ %>
            <div class="div">
                <h1>Ansers:</h1>
                <%queData.forEach((ele)=>{%>
                <p id="title">Answer: <%=ele.answer%></p>
                <p id="description">Description: <%=ele.ans_description%></p>
                <pre id="code">Code: <%=ele.ans_code%></pre>
                <p id="approved">Approved: <%=ele.approved%></p>
                <p id="rank">Rank: <%=ele.ans_rank%></p>
                <%});%>
            </div>
            <%}%>
        </form>
        <form id="form" action="/addAns<%=queData[0].que_id%>" method="POST">
            <input type="text" name="answer" placeholder="Ansers title" >
            <textarea  rows="4" cols="50" name="description" placeholder="Description"></textarea>
            <textarea  rows="4" cols="50" name="code" placeholder="Code"></textarea>
            <button>Add answer</button>
        </form>
            
    </main>
</body>
</html>