<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/question?id=<%=queData[0].que_id%>">
            <div> 
                <h1>Question</h1>
                <p>Title: <%=queData[0].title%></p>
                <p>Description: <%=queData[0].que_description%></p>
                <p>Code: <%=queData[0].que_code%></p>
            </div>
            <h1>Answers</h1>
            <% if (queData[0].answer !== null){ %>
            <div>
                <%queData.forEach((ele)=>{%>
                <p>Answer: <%=ele.answer%></p>
                <p>Description: <%=ele.ans_description%></p>
                <p>Code: <%=ele.ans_code%></p>
                <p>Approved: <%=ele.approved%></p>
                <p>Rank: <%=ele.ans_rank%></p>
                <%});%>
            </div>
            <%}%>
        </form>
        <form action="/addAns<%=queData[0].que_id%>" method="POST">
            <input type="text" name="answer" >
            <textarea  rows="4" cols="50" name="description" placeholder="description"></textarea>
            <textarea  rows="4" cols="50" name="code" placeholder="code"></textarea>
            <button>Add answer</button>
        </form>
            
    </main>
</body>
</html>