<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/searchJob.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bodyHed">
  <%- include ('../layout/header.ejs') %>
  <main class="mainj">
    <div class="bigdiv">
      <section id="secj">
        <h4>نتائج البحث</h4>
        <form class="jobfm" action="/jobs" method="post">
          <label class="joblab">
            <input class="in" type="text" name="description" placeholder="ادخل نوع لغة البرمجة" required>
          </label>
          <label>
            <label class="joblab">
              <input class="in" type="text" name="location" placeholder="ادخل موقع الوظيفة المطلوبة">
            </label>
            <label class="joblab">
              <span>دوام كامل </span>
              <input type="checkbox" name="type">
            </label>
            <button id="search-btn">ابحث</button>
        </form>
      </section>
      <section id="sec2">
        <% job.forEach((val ,indx)=> { %>
        <div class="jf">
          <img class="jobimage" src=<%=val.company_logo %><br>
          <p class="jobp">النوع: <%=val.type %></p>
          <p class="jobp">الشركة : <%=val.company %></p>
          <p class="jobp">رابط الشركة : <%=val.company_url %></p>
          <p class="jobp">الموقع : <%=val.location %></p>
          <p class="jobp">وصف الوظيفة : <%=val.title %></p>
          <div id="btn">
            <button onclick="show('<%=indx%>')" name="detSec<%=indx%>" id="detbtn<%=indx%>" class="jbtn">
              عرض التفاصيل</button>
          </div>
          <section id="detSec<%=indx%>">
            <p id='jobDes<%=indx%>'>تفاصيل الوظيفة : <%= val.description %></p>
          </section>
          <form onsubmit="return false">
            <input class="jobf" type="hidden" name="company_logo" value="<%=val.company_logo  %>">
            <input class="jobf" type="hidden" name="type" value="<%=val.type %>">
            <input class="jobf" type="hidden" name="company" value="<%=val.company %>">
            <input class="jobf" type="hidden" name="company_url" value="<%= val.company_url %>">
            <input class="jobf" type="hidden" name="location" value="<%= val.location %>">
            <input class="jobf" type="hidden" name="title" value="<%= val.title %>">
            <input class="jobf" type="hidden" name="description" value="<%= val.description %>">
            <div id="bn">
              <button class="savebtn">اضف الى المحفوظات</button>
            </div>
          </form>
        </div>
        <% }); %>
      </section>
    </div>
    <%- include ('../../views/layout/footer.ejs') %>
  </main>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>