<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h2>ابحث عن وظيفة</h2>
        <form action="/jobs" method="post">
            <label>
                <input type="text" name="description" placeholder="ادخل نوع لغة البرمجة" required> </label>
            <label>
                <label>
                    <input type="text" name="location" placeholder="ادخل موقع الوظيفة المطلوبة"> </label>
                <label>
                    <span>دوام كامل </span>
                    <input type="checkbox" name="type">
                </label>

                <button id="search-btn">Search job !</button>
        </form>
        <% job.forEach((val ,indx)=> { %>
        <div>
            <img src=<%=val.company_logo %><br>
            <p>النوع: <%=val.type %></p>
            <p>الشركة : <%=val.company %></p>
            <p>رابط الشركة : <%=val.company_url %></p>
            <p>الموقع : <%=val.location %></p>
            <p>وصف الوظيفة : <%=val.title %></p>

            <button onclick="show('<%=indx%>')" name="detSec<%=indx%>" id="detbtn<%=indx%>"> عرض التفاصيل</button>
            <section id="detSec<%=indx%>">
                <p id='jobDes<%=indx%>'>تفاصيل الوظيفة : <%= val.description %></p>
            </section>

            <form onsubmit="return false">
                <input type="hidden" name="company_logo" value="<%=val.company_logo  %>">
                <input type="hidden" name="type" value="<%=val.type %>">
                <input type="hidden" name="company" value="<%=val.company %>">
                <input type="hidden" name="company_url" value="<%= val.company_url %>">
                <input type="hidden" name="location" value="<%= val.location %>">
                <input type="hidden" name="title" value="<%= val.title %>">
                <input type="hidden" name="description" value="<%= val.description %>">


                <button>اضف الى المحفوظات</button>
            </form>
        </div>
        <% }); %>

    </main>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/auth.js"></script>

    <script src="/js/app.js"></script>
</body>

</html>